/* CSS for the login page */
/* General Styles */
    /* NAV / HEADER */
/* NAV / HEADER */
.dashboard-nav {
  position: fixed; /* Se queda arriba al hacer scroll */
  top: 0;
  left: 0;
  width: 100%; /* Abarca todo el ancho de la pantalla */
  background-color: #3F573E;
  color: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.titulo-login {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #000000;
}

/* Ajuste del body para que no quede oculto por el header fijo */
body {
  font-family: Arial, sans-serif;
  padding-top: 80px; /* espacio suficiente para el header */
  background: #F6F1E9;
}

form {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

input, button {
  width: 90%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 16px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-color: #DC8741;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #d58544c1;
}
